@font-face {
    font-family: 'Press Start 2P';
    src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
    /* Add other font formats (e.g., woff, woff2) for better browser support */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    
}

:root {
    --color-white: white;
    --color-primary: #006BA6;
    --color-secondary: #bd288e;
    --color-dark: black;
    --color-gray: rgba(241, 235, 235, 1);


    --border-radius: 0.05rem;
    --form-radius: 0.2rem;
    --form-padding: 0.6rem 1rem;
    /* --card-padding: 1rem; */

    --btn-padding: 0.6rem 2rem;
    --btn-border-radius: 0.65rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;

    --header-font: Rock3D;
}

body {
    color: var(--color-dark);
    background-color: var(--color-white);
    /* or overflow: auto; */
    
}

body::-webkit-scrollbar {
 display: none;
}

h1 {
    font-family: 'Montserrat';
    margin: 0px;
    padding-left: 10px;
    text-align: center;
}



.card-img-top {
    min-height: 200px;
    /* Set the minimum height as needed */
    max-height: 200px;
    /* Set the maximum height as needed */
    width: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire space */
    border-top-left-radius: 0;
    /* Remove top-left border radius */
    border-top-right-radius: 0;
    /* Remove top-right border radius */
}

.card {
    border-top-left-radius: 0;
    /* Remove top-left border radius */
    border-top-right-radius: 0;
    /* Remove top-right border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log-in__main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    object-fit: cover;

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('assets/images/background_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.log-in__main h2 {
    font-family: var(--header-font), sans-serif;
    margin-bottom: 10px;
}

.log-in__darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.log-in__darken-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    /* Adjust opacity as needed */
}

.log-in__navbar {
    position: absolute;
    width: 100%;
    background-color: transparent !important;
    z-index: 999;
}

.log-in__logo {
    max-width: 50px;
}

.log-in__rectangle--log-in {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    width: 40vh;
    display: block;
    margin-bottom: 4%;
    margin-top: -10%;
}

.log-in__rectangle--log-in small {
    font-size: 13px;
}

.log-in__rectangle--register {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    width: 40vh;
    display: block;
}

.log-in__highlight-text {
    color: var(--color-primary);
    font-weight: bold;
}

.log-in__highlight-text:hover {
    text-decoration: underline;
}

.log-in__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in__center-container {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 100vh;
    /* Full viewport height */
}

.log-in__container-block {
    display: block;
}

.log-in__rectangle--register h3 {
    font-size: calc(0.4vw + 1vh);
    margin-bottom: -0.1%;
    color: var(--color-dark);
}

.highlight__shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#log-in__form-first-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-gray);
    border-radius: 0.85rem;
    color: black;
    background-color: var(--color-gray);
    padding: var(--form-padding);
    font-size: 11pt;
}

#log-in__form-last-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-gray);
    border-radius: 0.85rem;
    color: black;
    background-color: var(--color-gray);
    padding: var(--form-padding);
    font-size: 11pt;
}


#log-in__form-username {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-gray);
    border-radius: var(--form-radius);
    color: black;
    background-color: var(--color-gray);
    padding: var(--form-padding);
    font-size: 11pt;
}

#log-in__form-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-gray);
    border-radius: var(--form-radius);
    color: black;
    background-color: var(--color-gray);
    padding: var(--form-padding);
    margin-bottom: 2.5%;
    font-size: 11pt;
}

#log-in__form-re-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-gray);
    border-radius: 0.65rem;
    color: black;
    background-color: var(--color-gray);
    padding: var(--form-padding);
    margin-bottom: 2.5%;
    font-size: 11pt;
}


#submit-Btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 0.65rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.8rem;
    color: white;
    background-color: var(--color-primary);

    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    margin: 2%;
}

.log-in__padding {
    padding: 10px;
    /* Adjust the value as needed */
}

.log-in__submit-button {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 0.65rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.8rem;
    color: white;
    background-color: var(--color-primary);

    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    margin: 2%;
}

.general__no-margin {
    margin: 0;
    padding: 0;
}

.general__darken-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.general__darken-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}

.general__btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 0.65rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.8rem;
    color: white;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 2%;
}

.general__center-text {
    text-align: center;
    color: white;
}

.general__center-align {
    text-align: center;
}

.general__no-gutters [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.general__column {
    margin: 0;
    padding: 0;
    background-color: var(--color-gray);
    height: 100vh;
}


.checkbox__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox__container:hover input~.checkmark {
    background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.checkbox__container input:checked~.checkmark {
    background-color: dodgerblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when the checkbox is checked */
.checkbox__container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox__container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.landing__main {
    min-height: 100vh;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #006BA6;
    overflow: hidden;
}

.landing__panel-one {
    height: 100vh;
    background-color: wheat;
    background-image: url("assets/images/background_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

.landing__panel-two {
    height: 125vh;
    background-color: rgb(248, 248, 248);
    overflow-y: hidden;
}

.landing__panel-two h1 {
    color: #1d2522;
    font-family: 'Poppins', sans-serif
}

.landing__panel-three {
    height: 120vh;
    background-color: #1d2522;
}

.landing__panel-three card-img-top {
    min-height: 400px;
    /* Set the minimum height as needed */
    max-height: 400px;
    /* Set the maximum height as needed */
    width: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire space */
    border-top-left-radius: 0;
    /* Remove top-left border radius */
    border-top-right-radius: 0;
    /* Remove top-right border radius */
}

.landing__panel-three h1 {
    font-family: 'Press Start 2P';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
    padding: calc(0.5vh + 0.5vw);
    padding-bottom: 20px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

.landing__center {
    text-align: center;
    /* Center horizontally */
    height: 100vh;
    /* Set height to fill the viewport */
}

.landing__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styles for your content */
    user-select: auto;
    max-width: 800px;
    /* Example max-width */
    padding: 20px;
    /* Example padding */
}

.landing__center h1 {
    font-family: 'Press Start 2P', Courier, monospace;
    text-align: center;
    color: white;
    flex-wrap: nowrap;
    padding: calc(1vh + 1vw);
    padding-bottom: 0px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.landing__center h2 {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    text-align: center;
    color: white;
    flex-wrap: nowrap;
    padding: calc(0.3vh + 0.3vw);
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: calc(1.1vh + 1.1vw);
}

.general__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1d2522;
    /* Adjust padding as needed */
    z-index: 1000;
    /* Adjust z-index as needed */
    /* Add additional styles such 
    as font-size, color, etc. */
    margin: 0px;
}

.general__navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.btn:hover {
    background-color: #ffa500;
}

.brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    background-image: url('assets/images/brand_1.png');
    max-width: 6%;
    margin-top: -1.5%;
    margin-bottom: -1.5%;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.nav-links li {
    display: inline;
    font-family: 'Press Start 2P';
}

.nav-links li:not(:last-child) {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffa500;
    /* Change color on hover */
}

.glass {
    background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 10px;
}


#corgi :hover {
    cursor: pointer;
    content: url('assets/images/corgi/corgi_sniffing.gif');
}

#navbar-brand {
    color: "white";
    text-decoration: "none",
}

.navLink {
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1d2522;
    /* Adjust padding as needed */
    z-index: 1000;
    /* Adjust z-index as needed */
    /* Add additional styles such 
    as font-size, color, etc. */
    margin: 0px;
}

.layout {
    top: 9%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.dynamicNav, .dynamicNav li{
    font-family: 'Press Start 2P';
    color: white;
    text-decoration: none;
}